:root {
  --clr-green: #48a59d;
  --clr-purple: #bd2f85;
}

.container {
  margin-top: 20px;
  max-width: 500px;
  padding: 2rem 0.75rem 0.5rem 0.75rem;
}
.jumbotron {
  background: transparent !important;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}
.card {
  border: none;
  margin: 0rem 1rem 0rem 1rem;
}
.green-success {
  background-color: var(--clr-green);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1rem 0;
  border-radius: 3px;
}
.red-danger {
  background-color: var(--clr-purple);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1rem 0;
  border-radius: 3px;
}
.main {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1rem 0;
  border-radius: 5px;
}
body {
  background: linear-gradient(45deg, #4158d0, #c850c0, #ffcc70);
  background-size: cover;
  height: 100%;
  color: whitesmoke;
}
li {
  color: #333;
}
.list-group-item {
  color: #333;
  font-size: 1.5em;
  border-left: solid 10px;
}
.border-green {
  border-color: var(--clr-green);
}
.border-red {
  border-color: var(--clr-purple);
}
